catkin-pkg==0.5.2
catkin-pkg-modules==0.5.2
debugpy==1.6.2
fastapi==0.79.1
Flask==2.2.1
gitdb==4.0.9
GitPython==3.1.24
google-auth==2.10.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
gunicorn==20.1.0
json5==0.9.9
jsonschema==4.9.1
keras==2.9.0
Keras-Preprocessing==1.1.2
launch==0.10.6
launch-ros==0.11.4
launch-testing==0.10.6
launch-testing-ros==0.11.4
launch-xml==0.10.6
launch-yaml==0.10.6
launchpadlib==1.10.13
matrix-factorization==1.3
numpy==1.21.0
pandas==1.3.4
pickleshare==0.7.5
PyCHAM==2.1.9
scikit-learn==1.0.1
scipy==1.7.2
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
typing-extensions==4.0.0
uritools==4.0.0
urllib3==1.25.8
uvicorn==0.18.2