fastapi==0.79.1
Flask==2.2.1
grpcio==1.47.0
gunicorn==20.1.0
ipython==7.29.0
numba==0.56.0
numpy==1.21.0
pandas==1.4.3
pickleshare==0.7.5
requests==2.22.0
scikit-learn==1.0.1
scipy==1.7.2
typing-extensions==4.0.0
uritools==4.0.0
urllib3==1.25.8
uvicorn==0.18.2